@import '../../../scss/variables';

.header {
  display: flex;
  margin-bottom: 12px;
  padding: 12px 12px 0;
  background-color: #1f2c3d;
}

.headerLink {
  text-decoration: none;
  color: $color-text-white;
}

.headerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0 auto auto;
}